body{
    background:linear-gradient(to left, #33ccff 0%, #ff99cc 102%);
}

.cardSetting{
    display: flex;
    padding: 1px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
    
}

.signout{
    margin-top: 4px;
}

.footer{
    position: relative;
    // min-height: 100vh;
    // height: 2.5rem; 
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background: linear-gradient(to left,#ff99cc 0%,  #33ccff 102%);
}